body {
    background-color: white;
}

.wrapper .bg {
    background-color: rgb(137, 242, 237);
    width: 100%;
    height: 40%;
    margin : auto;
}

.wrapper .box-1 h2 {
    text-align: center;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    background: #F7DC6F;
    margin-top: -0px;
    padding-top: 10px;
}
.wrapper .box-1 {
    font-family: sans-serif;
    width: 800px;
    height: 322px;
    background-color: #5D6D7E;
    margin: -140px auto;
}

.wrapper .foto {
    padding: 1px;
    height: 280px;
    margin-top: -21;
    margin-left: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.biodata{
    margin: 50px;
    text-align: left;
    margin-left: 685px;
    margin-top: -280px;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}


.wrapper .biodata h2{
    font-size: xx-large;
}

.biodata h5{
    color: black;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

.wrapper .pkl h2{
    text-align: center;
    
    margin-left: 352px;
    margin-right: 351px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    background: #F7DC6F;
    margin-top: -20px;
    padding-top: 10px;
}

.wrapper .pkl h5{
    text-align: center;
    font-family: sans-serif;
    width: 800px;
    height: 150px;
    background-color: #5D6D7E;
    margin: -20px auto;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}